<div class="newpic">
<h1>What do you wanna edit?</h1>
<%= form_for @foodiepicture do |f| %>
  <form class="form-horizontal" role="form">
	  <div class="form-group btn-pink">
	    <div class="col-sm-2">
		  <%= f.file_field :image %>
        </div>
	  </div>
	  <br /><br />
	  <div class="form-group btn-pink">
	    <div class="col-sm-2">
		  <%= f.text_field :description, placeholder: "description", class: "form-control" %>
	    </div>
	  </div>
	  <br /><br />
		  <div class="form-group">
		    <div class="col-sm-2">
			  <%= f.submit "Update!", class: "btn btn-pink" %>
			</div>
	      </div>
	  <br /><br />
		  <div class="form-group">
		    <div class="col-sm-2">
			  <%= link_to "Cancel Edit", foodiepictures_path, class: "btn btn-pink" %>
			</div>
	      </div>
	</form>
<% end %>