<div class="singlepic">
<%= image_tag @foodiepicture.image.url, width: "500pxs", class: "img-thumbnail" %>
    <br /> <br /> <br />

	<div class="btn-group btn-block">
		<h class="btn btn-pink"><%= @foodiepicture.description %></h>
	    <h class="btn btn-pink">
            <%= link_to @foodiepicture.user.name, user_path(@foodiepicture.user) %></h>
	    <%= link_to "Edit", edit_foodiepicture_path, class: "btn btn-pink" %>
		<%= link_to "Delete", :foodiepicture, method: :delete, data: { confirm: "Are you sure you want to delete #{@foodiepicture.description}?"}, class: "btn btn-pink" %>
	</div>

<ul>
	<% @foodiepicture.comments.each do |c| %>
		<li class="commentli">
			<% if current_user %>
    			<%= c.user.name + ': ' + c.comment %>
			<% end %>
		</li>
	<% end %>
</ul>

<div class="commentcontainer">
<%= form_for @comment_post, {url: comment_path(foodie_id: @id)} do |n| %>
    <%= n.text_field :comment, placeholder: "leave a comment..." %>
    <%= n.submit "Post" %>
    </div>
<% end %>
</div>

<% yield %>

</div>