<div class="userpic">
	<ul>
		<% @foodiepictures.each do |p| %>
		    <li>
			    <%= image_tag p.image.url, width: "200px", class: "img-thumbnail" %> 
			    <h1><%= link_to p.description, foodiepicture_path(p), class: "btn btn-pink" %></h1>
			    <h class="btn btn-pink" style="margin-top: -6px">
			    	<img src="<%= p.user.image %>" id="userpic">
			    	<%= link_to p.user.name, user_path(p.user_id) %></h>
			    <br /><br />
			    <div class="btn-group btn-block" style="margin-top: -20px">
				    <%= link_to "Edit", edit_foodiepicture_path(p), class: "btn btn-pink" %>
				    <%= link_to "Delete", foodiepicture_path(p), method: :delete, data: { confirm: "Are you sure you want to delete #{p.description}?"}, class: "btn btn-pink" %>
				</div>
				<br />
		        <% end %>
	        </li>
	</ul>

	<ul>
		<% @user.comments.each do |u| %>
			<li class="commentli">
				<% if current_user %>
					<%= u.user.name + ':' + u.comment %>
				<% end %>
			</li>
		<% end %>
	</ul>

	<div>
        <%= form_for @comment_post, {url: comment_path(userwall_id: @user.id)} do |i| %>
        <%= i.text_field :comment, placeholder: "leave a comment...", class: "btn-pink" %>
        <%= i.submit "Post" %>
        <% end %>
    </div>

</div>